<div class="col-md-12 aboutUs">
	<h1> Jyoti Enterprises</h1>
	<p class="jyotiEnterprisesPoints">
		Industrial Automation,
		Solar Power Systems,
		Educational Trainers & Workshops,
		CB Design & Manufacturing,
		General Purpose Electronics Work.
	</p>		
	<p class="leftData">To,
		<br/>The Institute Management Committe
		<br/>(Maharashtra)
	</p>
	<p class="subject">Subject: 
		<strong>Re-affiliation of ITI</strong>
	</p>
	<br/>
	<p>Dear Sir,</p>
	<ul class="mainPoints">
		<li>We are pleased to inform you that our company is single largest company in india providing Consultancy services for opening Private ITI and complete cosultancy services for re-affiliation of ITIs already completed 5 yrs of affiliation. We are providing assistance for accreditation and quality Council of India(QCI) and subsequently affiliation from Govt of India(DEG&T/NCTV).</li><br/>
		<li> As per Govt of India guidelines all ITIs which has completed 5 yrs of affiliation should apply to QCI(Quality Council of India) for affiliation by 30 November 2014 otherwise the Institute will be considered as de-affiliated from August 2015 session(GovtLettersAttached).</li><br/>
		<li>The scope of work undertaken under the consultancy services as follows:</li><br/>
	</ul>
	<ul class="subPoints">
		<li>To understand overall model/concept of ITI. Developement of ITI with low cost budget.</li>
		<li>To understand the role of QI & DEGT/NCTV/State Directorate at present system.</li>
		<li> Developing infrastructure as per QCI/DEGT norms, Cost effective building construction plan.</li>
		<li>Arrangement of documents as per the requirement of QCI/DEGT norms.</li>
		<li>Preparation,Verification and auditing of all documents.</li>
		<li>Online apply of forms at QCI website.</li>
		<li>Settlement of all observations arises during Desktop assessment by QCI and observation during site visit by QCI team. Settle of observation arises by DEG&T/NCTV.</li>
		<li>Preparation and guidelines for site visit of QCI Team.</li>
		<li>Inspection complete file preparation according to Govt of India(DEG&T/NCTV).</li>
		<li>Site visits.</li>
		<li>Focus on in time completion of project.</li>
		<li>Targeting for getting affiliation in very less time.</li>
		<li>Various legal and finantial issues related to ITI.</li>
		<li>Guidelines for proper administration and management of ITI after affiliation.</li>
	</ul>
	<p style="text-align:right;"><strong>Nitin Shrikrishna Deshpande</strong> </p>
	<div class="aboutUsFooter">
	Regd. Office :Osmanpura,Below Osmanpura Post Office,Aurangabad-431005,Mb.:09545011432/09823919575,Office:(0240)2361432<br/>
	Pune Office: Shop No.1&2, Shubham Apartment,1264,Near Sujata Mastani,Sadashiv Peth,Pune-30 Cell 9823919575<br/>
	Email: infojyotienterprises@gmail.com, www.jyotienterprises.hpage.com
	</div>
	</div>