<div class="info_hor">
	<div class="col-md-4">
		<img class="img-responsive" src="images/image1.jpg" alt="">
	</div>
	<div class="col-md-8 info_hor_text">
		<h4>WELDER</h4>
		<p><span><strong>1. Name of the Trade :</strong></span> WELDER </p>
		<p><span><strong>2. N.C.O. Code No. :</strong></span> 7212.10, 7212.20, 7212.30, 7212.40 & 7212.50</p>
		<p><span><strong>3. Duration of Craftsmen Training :</strong></span> 12 months (2 Semesters)</p>
		<p><span><strong>4. Power norms :</strong></span> 16 KW</p>
		<p><span><strong>5. Space norms :</strong></span> Workshop: 80 Square meters. (5 Sq.m/trainee)</p>
		<p><span><strong>6. Entry Qualification :</strong></span> Pass 8th Class Examination</p>
		<p><span><strong>7. Unit size (No. of student) :</strong></span> 168.</p>
	</div>
</div>
<div class="info_hor">
	<div class="col-md-4">
		<img class="img-responsive" src="images/image2.jpg" alt="">
	</div>
	<div class="col-md-8 info_hor_text">
		<h4>FITTER</h4>
		<p><span><strong>1. Name of the Trade :</strong></span> FITTER </p>
		<p><span><strong>2. N.C.O. Code No. :</strong></span>842.10, 842.15</p>
		<p><span><strong>3. Duration of Craftsmen Training :</strong></span> Two years (Four semesters each of six months duration).</p>
		<p><span><strong>4. Power norms :</strong></span> 3.51 KW</p>
		<p><span><strong>5. Space norms :</strong></span> 88 Sq.mt.</p>
		<p><span><strong>6. Entry Qualification :</strong></span> Passed 10th Class with Science and Mathematics under 10+2 system of Education or its equivalent</p>
		<p><span><strong>7. Unit size (No. of student) :</strong></span> 16 (Supernumeraries/ Ex-Trainee allowed: 5)</p>
	</div>
</div>
<div class="info_hor">
	<div class="col-md-4">
		<img class="img-responsive" src="images/image4.jpg" alt="">
	</div>
	<div class="col-md-8 info_hor_text">
		<h4>DRAUGHTSMAN(MECHANICAL)</h4>
		<p><span><strong>1. Name of the Trade :</strong></span> DRAUGHTSMAN(MECHANICAL) </p>
		<p><span><strong>2. N.C.O. Code No. :</strong></span> 030.40</p>
		<p><span><strong>3. Duration of Craftsmen Training :</strong></span>Two year (Four semesters each of six months duration)</p>
		<p><span><strong>4. Power norms :</strong></span> 3.7 Kw.</p>
		<p><span><strong>5. Space norms :</strong></span> 64 Sq. Mtrs</p>
		<p><span><strong>6. Entry Qualification :</strong></span> Passed 10th Class with Science and Mathematics under 10+2 system of Education or its equivalent</p>
		<p><span><strong>7. Unit size (No. of student) :</strong></span> 20</p>
	</div>
</div>
<div class="info_hor">
	<div class="col-md-4">
		<img class="img-responsive" src="images/image3.jpg" alt="">
	</div>
	<div class="col-md-8 info_hor_text">
		<h4>ELECTRONICS MECHANIC</h4>
		<p><span><strong>1. Name of the Trade :</strong></span> ELECTRONICS MECHANIC </p>
		<p><span><strong>2. N.C.O. Code No. :</strong></span>7243.10,7243.50,7243.90</p>
		<p><span><strong>3. Duration of Craftsmen Training :</strong></span> 02 years (Four semesters having duration of six months each)</p>
		<p><span><strong>4. Power norms :</strong></span> 3.04 kW</p>
		<p><span><strong>5. Space norms :</strong></span> 56 Sq mtrs</p>
		<p><span><strong>6. Entry Qualification :</strong></span> Passed 10th class examination under 10+2 system of seducation.</p>
		<p><span><strong>7. Unit size (No. of student) :</strong></span> 20 Trainees</p>
	</div>
</div>
<div class="info_hor">
	<div class="col-md-4">
		<img class="img-responsive" src="images/image5.jpg" alt="">
	</div>
	<div class="col-md-8 info_hor_text">
		<h4>INSTRUMENT MECHANIC</h4>
		<p><span><strong>1. Name of the Trade :</strong></span> INSTRUMENT MECHANIC </p>
		<p><span><strong>2. N.C.O. Code No. :</strong></span> -</p>
		<p><span><strong>3. Duration of Craftsmen Training :</strong></span> 2 years (Four Semesters)</p>
		<p><span><strong>4. Power norms :</strong></span> 8 Kw</p>
		<p><span><strong>5. Space norms :</strong></span> 6.50 Sq Meter / Trainee</p>
		<p><span><strong>6. Entry Qualification :</strong></span> Passed 10th class examination under 10+2 system of education with Science and Mathematics or its equivalent.</p>
		<p><span><strong>7. Unit size (No. of student) :</strong></span>16</p>
	</div>
</div>