<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	  <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
	  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
	  <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
	  <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
	  <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
	  <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item">
			<img src="images/0364.JPG" class="img-responsive" alt="image 1">
		</div>
		<div class="item">
			<img src="images/0021.JPG" class="img-responsive" alt="image 2">
		</div>
		<div class="item active">
			<img src="images/0022.JPG" class="img-responsive" alt="image 3">
		</div>
		<div class="item">
			<img src="images/0055.JPG" class="img-responsive" alt="image 4">
		</div>
		<div class="item">
			<img src="images/0356.JPG" class="img-responsive" alt="image 5">
		</div>
		<div class="item">
			<img src="images/WA0016.jpg" class="img-responsive" alt="image 6">
		</div>
	</div>
	<a 	class="left carousel-control" 		
		ng-click="rotateCarousel('prev')">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a 	class="right carousel-control" 
		ng-click="rotateCarousel('next')">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<br>	
<div class="row">
	<div class="col-xs-12">
		<!-- <img src="images/2.jpg" class="img-responsive" alt="Responsive image"> -->
		<div class="introduction rightBlock">				
			<div class="introText">
				<p class="title">मनोगत …</p>
				<p><span class="space10"></span>तंत्रनिकेतन व आद्योगिक प्रशिक्षण क्षेत्रात काम करणाऱ्या सर्व संस्थाचालक , प्राचार्य व शिक्षक मान्यवरांस नितिन श्रीकृष्ण देशपांडेंचा सस्नेह नमस्कार . ..</p>
				<p><span class="space10"></span>"स्वप्न ती नसतात कि जी झोपेत पडतात ,स्वप्न ती असतात कि जी झोप उडवतात ." डॉ . अब्दुल कलमांचा हा ध्येयवाद अंगिकारला आणि प्रयत्नांती अवघड वाटणारी गोष्ट सत्यात उतरू शकते याचे प्रत्यंतर मला माझ्या विद्यार्थीदशेत आले . Internation Scient Exhibition मध्ये Anti Collision System For Heavy vehicles या प्रयोगासाठी मला 'बाल सायनटिस्त' हा पुरस्कार मीसाईल मेन कलामांच्या हस्ते प्राप्त झाला .</p>
				<p><span class="space10"></span>या प्रेरणेतून विद्यार्थी दशेपासून विविध Practical Instruments चा वापर व निर्मिती या बाबत मला कमालीची उत्सुकता होती . Tecnical या क्षेत्रात कष्ट करण्याची तयारी असेल तर आपण नविन पिढीला काहीतरी देऊ शकतो या उउद्दात हेतूने ज्योती एन्टरप्रायजेस या फर्मची २००७ साली स्थापना केली .</p>
				<p><span class="space10"></span> या फर्मच्या माध्यमातून महाराष्ट्रआतील नामांकित पोल्य्तेच्निक इंजिनिअरिंग व आयटीआय कॉलेजेस मध्ये मेकॅनिकॅल , सिव्हील ,इलेक्ट्रीकल, इलेक्ट्रोनिक्स तसेच आयटीआय च्या फिटर , वेल्डर , एलेक्ट्रीकाल , इलेक्ट्रोनिक्स या विविध ब्रान्चेस्साठी Quality Instruments देण्याची संधी मिळाली . हे करत असताना व्यवसायाबरोबरच ही नवीन पिढी नवनिर्मितेचि शिलेदार कशी ठरू शकेल यासाठी ट्रेनिंग व सेमिनारचे देखील आयोजन करून विद्यार्थांमध्ये वैद्यानिक दृष्टीकोन निर्माण करण्यात मोलाचा वाटा उचलू शकलो याबाबत पराकोटीचे समाधान वाटते . </p>
				<p><span class="space10"></span>केंद्र व राज्य शासनाचे शासनाच्या नविन धोरनानुसार खाजगी औदयोगिक प्रशिक्षण केंद्रास विविध शासकीय सवलती देऊन आयटीआय विध्यार्थांना प्रोत्साहन देणे व त्यांचे कौशल्य विकसित करण्याचे ठरले आहे . विद्यार्थ्यांचा या क्षेत्राकडे ओढा कसा वाढेल , त्यासाठी Quality Cauncil of India या कमिटिच्या माध्यमातून नवीन नियम व अटींच्या शर्तीत सर्व आयटीआय युनिटचा दर्जा एकसारखा झाला पाहिजे याबाबत धोरण राबविण्याचे ठरले आहे . त्या अनुषंगाने QCI च्या नियमांच्या अधीन राहून ज्योती एन्टरप्रायजेसच्या माध्यमातून QCI Approval Instruments देण्यास आम्ही समर्थ आहोत . हे आम्ही अनेक आयटीआय च्या लाब Instrument Supply व Installation च्या माध्यमातून सिद्ध केले आहे .</p>
				<p><span class="space10"></span>आपल्या विविध कॉलेजेस मध्ये काम करण्याची संधी मिळाल्यास आम्ही आमचे योगदान देण्यास तत्पर आहोत . धन्यवाद …!</p>
				<br>
				<div style="overflow: hidden;">
					<p class="signature">आपला , 
						<br>प्रो . नितीन श्रीकृष्ण देशपांडे 
						<br>संस्थापक : ज्योती एन्टरप्रायजेस
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row contentBlock">
	<div class="col-md-6">
		<h4>We Provide</h4>
		<p>We are also manufacturing, developing, supplying training tools for all NCVT/SCVT/MES/COE trades as per the norms/Specification of QCI/DGE&amp;T/NCVT Govt. of India. Our tools &amp; machinery are designed and developed as per the latest guidelines of QCI/ DGET (NCVT) Govt. of India.</p><p> For Tools at reasonable price for trades : Welder Fitter Electrician Wireman Machinist Electronic Mechanic Mechanic Diesel Mechanic Motor Vehicle Turner Refrigeration and AC mechanic Draughtsman(civil) Draughtsman(Mech.),<br>Painter,COPA,Instrument mechanic (Chemical plant),Instrument mechanic etc.All Other Trades etc.</p><p> We also supply tools for MES &amp; COE Courses. The Quality of the tools machinery &amp; equipment is very high. We are single supplier in India who supplies all NCVT trades in India.</p>
	</div>
	<div class="col-md-6">
		<h4>Services</h4>
		<ul>
			<li>To understand overall model/concept of ITI. Developement of ITI with low cost budget.</li>
			<li>To understand the role of the QCI &amp; DGET/NCVT/state Directorate at present system. </li>
			<li>Developing infrastructure as per QCI/DEGT norms. Cost effective building construction plan.</li>
			<li>Arrangement of docuements as per the QCI/DEGT norms.</li>
			<li>Preparation, validation and auditing all docuements.</li>
			<li>Online apply of form at QCI website.</li>
			<li>Focus on in time completion of project.</li>
			<li>Targeting of getting affilation in very less time.</li>
			<li>Inspection complete file preparation according to Govt of India (DEG&amp;T/NCTV).</li>
			<li>Various legal and finantial issues related to ITI.</li>			
			<li>Guidelines for proper administration and management of ITI after affiliation.</li>			
		</ul>
	</div>
</div>
<div class="row contentBlock">
	<div class="col-md-6">
		<h4>QCI CONSULTANCY SERVICES FOR ITI AFFILIATION</h4>
		<ul>
			<li>Complete guidelines for understanding ITI college Business.</li>	
			<li>Understanding the Role of QCI/DGET in ITI Affiliation procedure</li>	
			<li>Online Apply of Documents</li>	
			<li>Document verification and Auditing as per the Govt of India Rules and Regulations.</li>	
			<li>Site assessment and Site visit</li>	
			<li>Inspection guidelines</li>	
			<li>Supply of ITI Training Tools (QCI Certified)</li>	
			<li>Fitment &amp; Installation of all training tools</li>	
			<li>Supply of Library books</li>	
			<li>Supply of cheapest computers for Computer lab</li>	
			<li>Supply of Wall charts for various Trades</li>	
			<li>Website Development as per DGET/NCVT/QCI</li>	
		</ul>
	</div>
	<div class="col-md-6">
		<h4>Deals in following Trades</h4>	
		<ul>
			<li><a target="_blank" rel="dofollow" href="http://dget.gov.in/upload/uploadfiles/files/1_CTS_WELDER.pdf"><span>Welder</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/CTS_Fitter(1).pdf"><span>Fitter</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/ELECTRICIAN(1).pdf"><span>Electrician</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/Wireman(1).pdf"><span>Wireman</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/CTS_MACHINIST(1).pdf"><span>Machinist</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/ELECTRONICS_MECHANIC(1).pdf"><span>Electronic Mechanic</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/SYL_Mechanic_Diesel_08_06_14.pdf"><span>Mechanic Diesel</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/SYL_Mechanic_Motor_vehicle_08_06_14(2).pdf"><span>Mechanic Motor Vehicle</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/CTSTurner.pdf"><span>Turner</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/REFRIGERATION_AND_AIR_CONDITIONING.pdf"><span>Refrigeration and AC mechanic</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/SYLLABUS_D_MAN_CIVIL%20FINAL_27_8_2014_1.pdf"><span>Draughtsman(civil)</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/CTS-DM_MECHANICAL(1).pdf"><span>Draughtsman(Mech.)</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/PAINTER_GENERAL.pdf"><span>Painter</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/COPA_2014(1).pdf"><span>COPA</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/Inst_Mech_Chem_Plant.pdf"><span>Instrument mechanic (Chemical plant)</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/Instrument_Mechanic(1).pdf"><span>Instrument mechanic</span></a></li>
			<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/content/innerpage/trade-syllabus.php"><span>All Other Trades</span></a></li>
		</ul>
	</div>			
</div>
<div class="slider">
	<div class="row">
		<div class="col-md-12">
			<h4>Products & Services</h4>
			<ul id="flexiselDemo3">
				<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/CTS_Fitter(1).pdf"><img src="images/fitter.jpg" /></a></li>
				<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/ELECTRICIAN(1).pdf"><img src="images/Electrician.jpg" /></a></li>
				<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/ELECTRONICS_MECHANIC(1).pdf"><img src="images/ElectronicMechanic.jpg" /></a></li>
				<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/SYL_Mechanic_Diesel_08_06_14.pdf"><img src="images/MechanicDiesel.jpg" /></a></li>                                                 
				<li><a target="_blank" rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/Wireman(1).pdf"><img src="images/wireman.jpg" /></a></li>                                                 
			</ul> 
		</div>
	</div>
</div>