<div class="row">	
	<div class="ITIZone col-xs-12 col-sm-6" 
		 style="margin-bottom:10px">
		<h3>ITI Trades we manufacture/Supply Tools and Equipments</h3>
		<ul>
			<li>
				<a 	rel="dofollow"
					href="http://dget.gov.in/upload/uploadfiles/files/1_CTS_WELDER.pdf">
						<span>Welder</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/CTS_Fitter(1).pdf">
					<span>Fitter</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/ELECTRICIAN(1).pdf">
						<span>Electrician</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/Wireman(1).pdf">
					<span>Wireman</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/CTS_MACHINIST(1).pdf">
					<span>Machinist</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/ELECTRONICS_MECHANIC(1).pdf">	
					<span>Electronic Mechanic</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/SYL_Mechanic_Diesel_08_06_14.pdf">
					<span>Mechanic Diesel</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/SYL_Mechanic_Motor_vehicle_08_06_14(2).pdf">
					<span>Mechanic Motor Vehicle</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/CTSTurner.pdf">
					<span>Turner</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/REFRIGERATION_AND_AIR_CONDITIONING.pdf">
					<span>Refrigeration and AC mechanic</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/SYLLABUS_D_MAN_CIVIL%20FINAL_27_8_2014_1.pdf">
					<span>Draughtsman(civil)</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/CTS-DM_MECHANICAL(1).pdf">
						<span>Draughtsman(Mech.)</span></a></li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/PAINTER_GENERAL.pdf">
					<span>Painter</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/COPA_2014(1).pdf">
					<span>COPA</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/Inst_Mech_Chem_Plant.pdf">
					<span>Instrument mechanic (Chemical plant)</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/upload/uploadfiles/files/Instrument_Mechanic(1).pdf">
					<span>Instrument mechanic</span>
				</a>
			</li>
			<li>
				<a 	rel="dofollow" 
					href="http://www.dget.nic.in/content/innerpage/trade-syllabus.php">
					<span>All Other Trades</span>
				</a>
			</li>		
		</ul>
	</div>
	<div class="col-xs-12 col-sm-6">
		<img src="images/Tools Required For Different Trades.jpg"  class="img-responsive">		
	</div>	
</div>